# 1: WAP to check if a number is even or odd

In [3]:
x=592
r=x%2
if(r==0):
  print("the number is even")
else:
  print("the number is odd")

the number is even

### 2: WAP to reverse a number

In [19]:
x=777856
n=0
while(int(x)!=0):
  r=int(x)%10
  n=n*10+r
  x=int(x)/10
print(n)

658777

## 3: WAP to check if a number is prime or not

In [23]:
x=121
i=2
f=0
while(i<13):
  r=x%i
  if(r==0):
    f=1
  i+=1
if(f==0):
  print("The number is prime")
else:
  print("The number is not a prime number")

The number is not a prime number

### 4:WAP to run a loop and check divisibility by 3 and 5

In [53]:
for i in range(0,100):
 if((i%3==0) & (i%5==0)):
   print("YES 3 AND 5 FOR"+" "+ str(i))
 elif((i%3==0) & (i%5!=0)):
    print("YES 3 FOR"+" "+str(i))
 elif((i%3!=0) & (i%5==0)):
    print("YES 5 FOR"+" "+str(i))

YES 3 AND 5 FOR 0
YES 3 FOR 3
YES 5 FOR 5
YES 3 FOR 6
YES 3 FOR 9
YES 5 FOR 10
YES 3 FOR 12
YES 3 AND 5 FOR 15
YES 3 FOR 18
YES 5 FOR 20
YES 3 FOR 21
YES 3 FOR 24
YES 5 FOR 25
YES 3 FOR 27
YES 3 AND 5 FOR 30
YES 3 FOR 33
YES 5 FOR 35
YES 3 FOR 36
YES 3 FOR 39
YES 5 FOR 40
YES 3 FOR 42
YES 3 AND 5 FOR 45
YES 3 FOR 48
YES 5 FOR 50
YES 3 FOR 51
YES 3 FOR 54
YES 5 FOR 55
YES 3 FOR 57
YES 3 AND 5 FOR 60
YES 3 FOR 63
YES 5 FOR 65
YES 3 FOR 66
YES 3 FOR 69
YES 5 FOR 70
YES 3 FOR 72
YES 3 AND 5 FOR 75
YES 3 FOR 78
YES 5 FOR 80
YES 3 FOR 81
YES 3 FOR 84
YES 5 FOR 85
YES 3 FOR 87
YES 3 AND 5 FOR 90
YES 3 FOR 93
YES 5 FOR 95
YES 3 FOR 96
YES 3 FOR 99